.program-wrap {
    & {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #fff;
        padding: 0 40px;

        &:nth-child(2) {
            border-left: 1px solid rgba(255,255,255, 0.2);
            border-right: 1px solid rgba(255,255,255, 0.2);
            background-clip: padding-box;
        }
    }

    > .title {
        font-size: 28px;
        color: #fff;
        text-align: center;
        margin-bottom: 0;   
        font-weight: 600;
    }

    > .text {
        font-size: 18px;
        text-align: center;
        font-weight: 600;
        margin-bottom: 0;
    }

    > .img {
        width: 75px;
        margin: 30px 0;
    }

    > .btn {
        color: #000000;
        background-color: #fff;
        border: none;
        text-transform: uppercase;
        font-size: 14px;
        padding: 0 60px;
    }
}