.programs-block {
    & {
        display: flex;
        flex-direction: column;
        background-color: #ed6368;
        padding: 125px 0 175px;
    }

    > .cards-wrap {
        display: flex;
        justify-content: space-around;
        padding: 0 15%;
    }

    > .title {
        color: #ffffff;
        font-size: 12px;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 70px;
        text-align: center;
    }
}