.start-wrap {
	& {
		position: relative;
		display: flex;
    flex-direction: column;
		background-color: #ca9eda;
		height: 100vh;
		overflow: hidden;
		padding: 125px 0 0;
	}

	> .title {
		display: flex;
		justify-content: center;
		color: #ffffff;
    line-height: 1.16;
		letter-spacing: -0.03em;
		font-weight: 600;
	}

	> .title.-main {
		font-size: 2.8rem;
		margin: 30px 0 10px;
	}

	> .title.-sub {
		font-size: 1.8rem;
	}

	> .btn-wrap {
		display: flex;
		justify-content: center;
		margin: auto 0 60px;
	}

	> .btn-wrap > .btn {
		height: 50px;
		background-color: #e24f54;
		border: 0;

		&:hover {
			color: #e24f54;
			background-color: #ffffff;
		}

		&.-calendar {
			padding: 0 35px;
			margin-right: 40px; 
		}
		
		&.-demo {
			padding: 0 70px;
		}
	}

	> .btn-wrap > .btn > .icon {
		font-size: 12px;
	}
}