.benefit-card {
	& {
		position: relative;
		min-height: 600px;
		width: 100%;
		background-color: #ffacba;
		margin-bottom: 130px;
	}

	> .card-wrap {
		position: absolute;
		top: -40px;
		right: 7%;
		width: 400px;
		min-height: 450px;
		padding: 50px 40px;

		
	}

	> .card-wrap > .ant-card-body > .title {
		font-size: 36px;
		color: #000000;
	}

	> .card-wrap > .ant-card-body > .text {
		font-size: 18px;
		color: #000000;
	}
}