.demo-wrap {
    & {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 150px;
    }

    > .title {
        font-size: 18px;
        font-weight: 600;
        text-align: center;
        margin-bottom: 30px;
    }

    > .btn {
        color: #ffffff;
        background-color: #e24f54;
        text-transform: uppercase;
        border: none;
        font-size: 14px;
        padding: 0 50px;
    }
}