.header {
	& {
		position: absolute;
		display: flex;
		padding: 40px 40px 0;
		width: 100%;
		top: 0;
		left: 0;
		z-index: 1;
	}

	> .menu-wrap > .item.ant-menu-item-active {
		color: #ffffff;
		border-bottom: 2px solid #ffffff;
	}

	> .menu-wrap {
		display: flex;
		margin-left: auto;
		border-bottom: none;
		background: transparent;
	}

	> .menu-wrap > .item {
		display: flex;
		align-items: center;
		height: 100%;
		cursor: pointer;
	}

	> .menu-wrap > .item > .title {
		font-weight: 600;
		color: #000;
	}

	> .logo-wrap {
		width: 115px;
	}

	> .logo-wrap > .img {
		width: 100%;
	}
}

