@font-face {
    font-weight: 300;
    font-family: 'Oswald';
    font-style: normal;
    src: url('./fonts/Oswald-Light.ttf') format('ttf'),
    url('./fonts/Oswald-Light.woff') format('woff');
}

@font-face {
    font-weight: 600;
    font-family: 'Oswald';
    font-style: normal;
    src: url('./fonts/Oswald-Medium.ttf') format('ttf'),
    url('./fonts/Oswald-Medium.woff') format('woff');
}

@font-face {
    font-weight: 400;
    font-family: 'Oswald';
    font-style: normal;
    src: url('./fonts/Oswald-Regular.ttf') format('ttf'),
    url('./fonts/Oswald-Regular.woff') format('woff');
}

@font-face {
    font-weight: 600;
    font-family: 'Roboto';
    font-style: normal;
    src: url('./fonts/Roboto-Bold.ttf') format('ttf'),
    url('./fonts/Roboto-Bold.woff') format('woff');
}

@font-face {
    font-weight: 400;
    font-family: 'Roboto';
    font-style: normal;
    src: url('./fonts/Roboto-Regular.ttf') format('ttf'),
    url('./fonts/Roboto-Regular.woff') format('woff');
}
