.benefit-container {
	& {
		margin-top: 150px;
		padding: 0 5%;
	}

	> .title-wrap {
		display: flex;
		flex-direction: column;
		margin: 0 0 100px 10%;
	}

	> .title-wrap > .title {
		color: #000000;
	}

	> .title-wrap > .title.-main {
		font-size: 54px;
		font-weight: 700;
		margin-bottom: 0;
	}

	> .title-wrap > .title.-sub {
		font-size: 18px;
		font-weight: 400;
	}

	> .benefit-card:nth-child(3) > .card-wrap {
		left: 7%;
		right: 0;
	}

}